@font-face {
  font-family: "Italics";
  src: url("/fonts/ABCMarfa-SemiboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: url("/fonts/ABCMarfa-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url("/fonts/ABCMarfa-Light.otf") format("opentype");
}

:root {
  /* font families */
  --font-family-1: "Medium", sans-serif;
  --font-family-2: "Italics", sans-serif;

  /* primitives */
  --color-blackdark: hsla(40, 30%, 4%, 1);
  --color-blacklight: hsla(0, 0%, 20%, 0.05);
  --color-brightwhite: #f7f6f7;
  --color-motion: #4b88be;
  --color-ui: hsla(124, 45%, 44%, 1);
  --color-info: #fc7753;
  --color-graphics: hsla(47, 87%, 60%, 1);

  /* Tokenized colors */
  --color-fg: var(--color-blackdark);
  --color-bg: var(--color-brightwhite);
  --color-header: var(--color-blacklight);

  /* BORDERS */
  --border-width: 1.5px;

  /* TEXT STROKE */
  --text-stroke: 0.8px;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.subheader:hover {
  cursor: wait; /* Change to the desired cursor type */
}

a:hover {
  cursor: wait;
}

body {
  background-color: var(--color-bg);
  font-size: 16px;
}

header {
  z-index: 3;
  letter-spacing: 3px;
  font-family: "Bold", sans-serif;
  font-size: 1.2rem;
  -webkit-text-stroke: .95px var(--color-motion);
  text-stroke: .95px var(--color-motion);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* color: var(--color-graphics); */
  position: fixed;
  top: 0;
  display: inline-flex;
  padding: 0 75px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  min-width: 100vw;
  min-height: 7.5vh;
  border-bottom: 1.5px solid var(--color-motion);
}

.return-icon {
  margin-top: 7.5px;
  transform: scale(1.05);
  fill: var(--color-motion);
}

main{
  /* border: 2px solid red; */
  position: absolute;
 top: 0;
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 gap: 2vh;
 padding-top: 10vh;
}

/* FRAME */

div.subheader{
  /* background-color: aqua; */
  position: relative;
 
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.clickhere{
  font-family: var(--font-family-1);
  font-size: .9rem;
  letter-spacing: 4px;
  line-height: 1.5rem;
  color: var(--color-info);

}

.frame {
  position: relative;
  min-width: 35vw;
  aspect-ratio: 4 / 5;
  max-height: calc(35vw * 5 / 4);
  /* border: 1.5px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: 0vh auto 0 auto;
  /* opacity: 1; */
}

.panels {
  position: relative;
  min-width: 50%;
  min-height: 50%;
  border-style: solid;
  border-color: var(--color-motion);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* FRAME BORDERS, PADDING & TEXT */
#clients-container {
  border-width: var(--border-width) var(--border-width) var(--border-width) 0;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  text-align: right;
  color: var(--color-info);
  display: flex;
  justify-content: flex-end;
}
#software-container {
  border-width: var(--border-width) 0 var(--border-width);
  padding: 2.5% 0 2.5% 2.5%;
  text-align: left;
  color: var(--color-graphics);
  display: flex;
  justify-content: flex-end;
}
#contact-container {
  padding: 2.5% 2.5% 2.5% 0;
  text-align: right;
  color: var(--color-ui);
  border-width: 0 var(--border-width) var(--border-width) 0;
}
#picture-container {
  border-width: 0 0 var(--border-width) 0;
  background-color: transparent;
}

.gifcontainer {
  width: 150px;
  height: 150px;
  margin: 4.5% 0 0 4.5%;
  border-radius: 100%;
  border: 5px solid var(--color-graphics);
  background-image: url("/video/Beach2.gif");
  background-size: 110%;
  background-position-x: 15%;
  background-repeat: no-repeat;
}

/* TEXT CSS */
h2.text {
  vertical-align: middle;
  font-family: "Medium", sans-serif;
  font-size: 1.05rem;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
}

a.clients{
  text-decoration: none;
  color: var(--color-info);
}
a.software{
  text-decoration: none;
  color: var(--color-graphics);
}
a.contact{
  text-decoration: none;
  color: var(--color-ui);
}

div h1 {
  letter-spacing: 1.25px;
  font-family: "Bold", sans-serif;
  font-size: 1.75rem;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

h1#select {
  -webkit-text-stroke: var(--text-stroke) var(--color-info);
  text-stroke: var(--text-stroke) var(--color-info);
}

h1#software {
  -webkit-text-stroke: var(--text-stroke) var(--color-graphics);
  text-stroke: var(--text-stroke) var(--color-graphics);
}
h1#contact {
  -webkit-text-stroke: var(--text-stroke) var(--color-ui);
  text-stroke: var(--text-stroke) var(--color-ui);
}

.bio-frame{
  position: relative;
  font-family: var(--font-family-1);
  color: var(--color-motion);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  text-align: center;
}

div.text-bio{
  font-size: .8rem;
  line-height: 1.5;
  max-width: 35vw;
  letter-spacing: 2px;
}

/* MEDIUM DESKTOP */

@media (max-width: 1350px) {


  header {
    z-index: 3;
    letter-spacing: 3px;
    font-family: "Bold", sans-serif;
    font-size: 1.2rem;
    -webkit-text-stroke: .95px var(--color-motion);
    text-stroke: .95px var(--color-motion);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    /* color: var(--color-graphics); */
    position: fixed;
    top: 0;
    display: inline-flex;
    padding: 0 75px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    min-width: 100vw;
    min-height: 7.5vh;
    border-bottom: 1.5px solid var(--color-motion);
  }
  
  .return-icon {
    margin-top: 7.5px;
    transform: scale(1.05);
    fill: var(--color-motion);
  }
  
  /* FRAME */
  
  .frame {
    position: relative;
    min-width: 35vw;
    aspect-ratio: 4 / 5;
    max-height: calc(35vw * 5 / 4);
    /* border: 1.5px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin: 0vh auto 0 auto;
  }


  
  .panels {
    position: relative;
    min-width: 50%;
    min-height: 50%;
    border-style: solid;
    border-color: var(--color-motion);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  /* FRAME BORDERS, PADDING & TEXT */
  #clients-container {
    border-width: var(--border-width) var(--border-width) var(--border-width) 0;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    text-align: right;
    color: var(--color-info);
    display: flex;
    justify-content: flex-end;
  }
  #software-container {
    border-width: var(--border-width) 0 var(--border-width);
    padding: 2.5% 0 2.5% 2.5%;
    text-align: left;
    color: var(--color-graphics);
    display: flex;
    justify-content: flex-end;
  }
  #contact-container {
    padding: 2.5% 2.5% 2.5% 0;
    text-align: right;
    color: var(--color-ui);
    border-width: 0 var(--border-width) var(--border-width) 0;
  }
  #picture-container {
    border-width: 0 0 var(--border-width) 0;
    /* background-color: aqua; */
  }
   
  .gifcontainer {
    width: 125px;
    height: 125px;
    margin: 4.5% 0 0 4.5%;
    border-radius: 100%;
    border: 5px solid var(--color-graphics);
    background-image: url("/video/Beach2.gif");
    background-size: 110%;
    background-position-x: 15%;
    background-repeat: no-repeat;
  }
  
  /* TEXT CSS */
  
  div h1 {
    letter-spacing: 1.35px;
    font-family: "Bold", sans-serif;
    font-size: 1.35rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  h2.text {
    vertical-align: middle;
    font-family: "Medium", sans-serif;
    font-size: .85rem;
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: 0.125rem;
  }


  .bio-frame{
    opacity: 1;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    font-family: var(--font-family-1);
    color: var(--color-motion);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 16.5vh; */
    align-items: center;
    margin-top: 1.5vh;
  
  }
  
  div.text-bio{
    font-size: .8rem;
    line-height: 1.5;
    /* border: 2px solid red; */
    max-width: 45vw;
    letter-spacing: 1.35px;
  }
}


/* SM DESKTOP */

@media (max-width: 1175px) {


  header {
    z-index: 3;
    letter-spacing: 3px;
    font-family: "Bold", sans-serif;
    font-size: 1.2rem;
    -webkit-text-stroke: .95px var(--color-motion);
    text-stroke: .95px var(--color-motion);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    /* color: var(--color-graphics); */
    position: fixed;
    top: 0;
    display: inline-flex;
    padding: 0 75px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    min-width: 100vw;
    min-height: 7.5vh;
    border-bottom: 1.5px solid var(--color-motion);
  }
  
  .return-icon {
    margin-top: 7.5px;
    transform: scale(1.05);
    fill: var(--color-motion);
  }
  
  /* FRAME */
  
  .frame {
    position: relative;
    min-width: 65vw;
    aspect-ratio: 4 / 5;
    max-height: calc(35vw * 5 / 4);
    /* border: 1.5px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin: 2.5vh auto 0 auto;
  }
  
  .panels {
    position: relative;
    min-width: 50%;
    min-height: 70%;
    border-style: solid;
    border-color: var(--color-motion);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  /* FRAME BORDERS, PADDING & TEXT */
  #clients-container {
    border-width: var(--border-width) var(--border-width) var(--border-width) 0;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    text-align: right;
    color: var(--color-info);
    display: flex;
    justify-content: flex-end;
  }
  #software-container {
    border-width: var(--border-width) 0 var(--border-width);
    padding: 2.5% 0 2.5% 2.5%;
    text-align: left;
    color: var(--color-graphics);
    display: flex;
    justify-content: flex-end;
  }
  #contact-container {
    padding: 2.5% 2.5% 2.5% 0;
    text-align: right;
    color: var(--color-ui);
    border-width: 0 var(--border-width) var(--border-width) 0;
  }
  #picture-container {
    border-width: 0 0 var(--border-width) 0;
    /* background-color: aqua; */
  }
   
  .gifcontainer {
    width: 125px;
    height: 125px;
    margin: 4.5% 0 0 4.5%;
    border-radius: 100%;
    border: 5px solid var(--color-graphics);
    background-image: url("/video/Beach2.gif");
    background-size: 110%;
    background-position-x: 15%;
    background-repeat: no-repeat;
  }
  
  /* TEXT CSS */
  
  div h1 {
    letter-spacing: 1.25px;
    font-family: "Bold", sans-serif;
    font-size: 1.75rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  h2.text {
    vertical-align: middle;
    font-family: "Medium", sans-serif;
    font-size: .85rem;
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: 0.15rem;
  }

  .bio-frame{
    
    opacity: 1;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    font-family: var(--font-family-1);
    color: var(--color-motion);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 16.5vh; */
    align-items: center;
    margin-top: 2.5vh;
  }
  
  div.text-bio{
    font-size: .8rem;
    line-height: 1.5;
    /* border: 2px solid red; */
    max-width: 65vw;
    letter-spacing: 1.35px;
  }




}

/* MOBILE */
@media (max-width: 750px) {

  main{
    padding-top: 9.5vh;
  }

  header {
    z-index: 3;
    letter-spacing: 3px;
    font-family: "Bold", sans-serif;
    font-size: .95rem;
    -webkit-text-stroke: .35px var(--color-motion);
    text-stroke: .35px var(--color-motion);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    /* color: var(--color-graphics); */
    position: fixed;
    top: 0;
    display: inline-flex;
    padding: 0 10vw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    min-width: 100vw;
    min-height: 7vh;
    border-bottom: 1.5px solid var(--color-motion);
  }
  
  .return-icon {
    margin-top: 7.5px;
    transform: scale(.95);
    fill: var(--color-motion);
  }
  
  /* FRAME */
  
  .frame {
    position: relative;
    min-width: 95vw;
    aspect-ratio: 4 / 5;
    max-height: calc(35vw * 5 / 4);
    /* border: 1.5px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vh auto 0 auto;
  }
  
  .panels {
    position: relative;
    min-width: 50%;
    min-height: 30vh;
    border-style: solid;
    border-color: var(--color-motion);
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  
  /* FRAME BORDERS, PADDING & TEXT */
  #clients-container {
    border-width: var(--border-width) var(--border-width) var(--border-width) 0;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    text-align: right;
    color: var(--color-info);
    display: flex;
    justify-content: flex-end;
  }
  #software-container {
    border-width: var(--border-width) 0 var(--border-width);
    padding: 2.5% 0 2.5% 2.5%;
    text-align: left;
    color: var(--color-graphics);
    display: flex;
    justify-content: flex-end;
  }
  #contact-container {
    padding: 2.5% 2.5% 2.5% 0;
    text-align: right;
    color: var(--color-ui);
    border-width: 0 var(--border-width) var(--border-width) 0;
  }
  #picture-container {
    border-width: 0 0 var(--border-width) 0;
    /* background-color: aqua; */
  }
   
  .gifcontainer {
    width: 100px;
    height: 100px;
    margin: 4.5% 0 0 4.5%;
    border-radius: 100%;
    border: 5px solid var(--color-graphics);
    background-image: url("/video/Beach2.gif");
    background-size: 110%;
    background-position-x: 15%;
    background-repeat: no-repeat;
  }
  
  /* TEXT CSS */
  
  div h1 {
    letter-spacing: 1.25px;
    font-family: "Bold", sans-serif;
    font-size: 1.05rem;
    -webkit-text-fill-color: red;
    text-fill-color: red;
  }
  
  h1#select {
    -webkit-text-stroke: 0px var(--color-motion);
    text-stroke: 0px var(--color-motion);
    -webkit-text-fill-color: var(--color-info);
    text-fill-color: var(--color-info);
  }
  
  h1#software {
    -webkit-text-stroke: 0px var(--color-motion);
    text-stroke: 0px var(--color-motion);
    -webkit-text-fill-color: var(--color-graphics);
    text-fill-color: var(--color-graphics);
  }
  h1#contact {
    -webkit-text-stroke: 0px var(--color-motion);
    text-stroke: 0px var(--color-motion);
    -webkit-text-fill-color: var(--color-ui);
    text-fill-color: var(--color-ui);
  }
  h2.text {
    vertical-align: middle;
    font-family: "Medium", sans-serif;
    font-size: .75rem;
    font-style: normal;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
  }

  .bio-frame{
    opacity: 1;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    font-family: var(--font-family-1);
    color: var(--color-motion);
    width: 100vw;
    height: 120vh;
    /* min-height: 120vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12vh;
    align-items: center;
    text-align: center;
  }
  
  div.text-bio{
    font-size: .65rem;
    line-height: 1.45;
    /* border: 2px solid red; */
    max-width: 75vw;
    letter-spacing: 1.15px;
    overflow-wrap: break-word;
    hyphens: auto;
  }



}

.hidden{
  display: none;
}
