@font-face {
  font-family: 'Italics';
  src: url('/fonts/ABCMarfa-SemiboldItalic-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Medium';
  src: url('/fonts/ABCMarfa-Medium-Trial.otf') format('opentype');
}

:root {
  /* font families */
  --font-family-1: 'Medium', sans-serif;
  --font-family-2: 'Italics', sans-serif;

  /* primitives */
  --color-blackdark: hsla(40, 30%, 4%, 1);
  --color-brightwhite: #F7F6F7;
  --color-motion: hsla(208, 47%, 52%, 1);
  --color-ui: hsla(124, 55%, 44%, 1);
  --color-info: #F78764;
  --color-graphics: hsla(47, 87%, 60%, 1);

  /* Tokenized colors */
  --color-fg: var(--color-blackdark);
  --color-bg: var(--color-brightwhite);
}

/* Global styles */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

body {
  background-color: var(--color-bg);
  width: 65vw;
  font-family: var(--font-family-1);
  letter-spacing: 3.75px;
  line-height: 1.25;
  margin: auto;
}

header {
  color: var(--color-fg);
  position: relative;
  padding-top: 30vh;
  padding-bottom: 2.5vh;
}

span.name {
  font-size: 1.1em;
  font-family: var(--font-family-1);
  letter-spacing: 4px;
  line-height: 1.1;
  -webkit-text-stroke: .5px var(--color-fg);
  text-stroke: .55px var(--color-fg);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.menu {
  min-height: 6.5vh;
  border-width: 1.5px 0;
  border-style: solid;
  border-color: var(--color-fg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Links */
a {
  text-decoration: none;
  font-family: var(--font-family-1);
  font-size: .55em;
}

.menu .motion {
  color: var(--color-motion);
}

.menu .ui {
  color: var(--color-ui);
}

.menu .graphics {
  color: var(--color-graphics);
}

.menu .info {
  color: var(--color-info);
}

a:hover {
  font-family: var(--font-family-2);
}



/* Small desktop breakpoint */
@media (max-width: 1300px) {
  body {
    line-height: 1.4;
    width: 75vw;
  }
  
  h1, span {
    font-size: .85em;
  }

  span.name {
    -webkit-text-stroke: .5px var(--color-fg);
    text-stroke: .55px var(--color-fg);
    letter-spacing: 3px;
  }

  a {
    font-size: .65em;
    letter-spacing: 1.5px;
  }

  .menu {
    min-height: 5vh;
  }
}





/* MOBILE BREAKPOINT */

@media (min-width: 300px) and (max-width: 770px) {

  header {
    color: var(--color-fg);
    position: relative;
    padding-top: 9vh;
    padding-bottom: 2.5vh;
  }
  
  span.name{
    font-size: 1em;
    letter-spacing: 2.5px;
    font-family: var(--font-family-1);
    -webkit-text-stroke: 0px var(--color-fg);
    text-stroke: 0px var(--color-fg);
    -webkit-text-fill-color: var(--color-fg);
    text-fill-color: var(--color-fg);
  }

h1, span{
  line-height: 1.45;
  font-size: .55em;
  letter-spacing: 2.5px;
  max-width: 70vw;
}
a{
  font-size: 1.25em;
}
.menu{
  padding: 2vh 0;
  flex-direction: column;
  align-items: flex-start;
  min-height: 5vh;
  gap: 2vh;
}

}




